{% extends 'base.html' %}
{% block body %}
  {% include 'nav.html' %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ db_teacher["picture"] }}" class="img-fluid" alt=""></div>
          <div class="col-7">
            <section class="teacher=info">
              <h1 class="h2">{{ db_teacher["name"] }}</h1>
              <p><span class="badge badge-secondary mr-2">{%  for i in db_teacher["goals"] %}{{ gl[i] }} {% endfor %} </span>Рейтинг: {{ db_teacher["rating"] }} Ставка: {{ db_teacher["price"] }} / час</p>
              <p>{{ db_teacher["about"] }}</p>
            </section>
            <section class="available">
              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              {% for free in db_teacher["free"] %}
                <h6 class="mt-4">{{ dow[free] }}</h6>
                {% for t in db_teacher["free"][free] %}
                    {% set list1 = t.split(":") %}
                    <a href={% if db_teacher["free"][free][t] %}"/booking/{{ db_teacher["id"] }}/{{ free }}/{{ list1[0] }}"{% else %} # {% endif %}class="btn {% if db_teacher["free"][free][t] %} btn-outline-success {% else %} btn-success {% endif %}mr-2 mt-2">{{ t }} {% if db_teacher["free"][free][t] %} свободно {% else %} занято {% endif %}</a>
                {% endfor %}
              {% endfor %}
            </section>
          </div>
        </article>
      </div>
    </div>
  </main>
{% endblock %}